@model IEnumerable<CreditAppBMG.ViewModels.CreditData>

@{
    ViewData["Title"] = "DistributrorView";
    Layout = "~/Views/Shared/_CreditAppLayout.cshtml";
}

<h2>DistributrorView</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistributorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NYStateTaxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalSSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrincipalZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyOwned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusinessAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusinessAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusinessCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusinessState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorBusinessZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingContactZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferencePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceAccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceAccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceRoutingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankReferenceZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference1ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeReference2ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SigningUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdobeSignAgreementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistributorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenseExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NYStateTaxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalSSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrincipalZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyOwned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusiness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusinessAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusinessAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusinessCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusinessState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorBusinessZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingContactZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferencePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceAccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceAccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceRoutingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankReferenceZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference1ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeReference2ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SigningUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdobeSignAgreementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
