@Html.AntiForgeryToken()
@model CreditAppBMG.ViewModels.DistributorViewModel
@{
    ViewData["Title"] = "DistributorView";
    Layout = "~/Views/Shared/_CreditAppLayout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

@section css
    {
    <style>
        .no-close .ui-dialog-titlebar-close {
            display: none;
        }

        .ui-widget {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
            font-size: 14px !important;
        }

            .ui-widget textarea, .ui-widget button {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
                font-size: 14px !important;
            }

        .table .thead-light th {
            color: #696969;
            background-color: #e4e4e4;
            /*border-color: #792700;*/
        }


        /*label, input {
            display: block;
        }*/

        input.text {
            margin-bottom: 12px;
            width: 95%;
            padding: .4em;
        }

        fieldset {
            padding: 0;
            border: 0;
            margin-top: 25px;
        }

        h1 {
            font-size: 1.2em;
            margin: .6em 0;
        }

        div#users-contain {
            width: 350px;
            margin: 20px 0;
        }

            div#users-contain table {
                margin: 1em 0;
                border-collapse: collapse;
                width: 100%;
            }

                div#users-contain table td, div#users-contain table th {
                    border: 1px solid #eee;
                    padding: .6em 10px;
                    text-align: left;
                }

        .ui-dialog .ui-state-error {
            padding: .3em;
        }

        .validateTips {
            border: 1px solid transparent;
            padding: 0.3em;
        }
    </style>
}
<div class="main-module">
    <div class="header-top-spacer"></div>

    <div class="header-logo-color">
        <img src="~/images/header-object.png" style="max-height: 122px; position:absolute" />
        <img src="@Model.Distributor.DistributorLogoURL" style="padding-left: 174px; padding-top: 2px; max-height: 100px" />
        <label class="control-label" style="padding-left: 20px; color: white; font-size: 1.5em;">@Model.Distributor.DistributorName</label>

    </div>

    <div class="header-bottom-spacer middle" align="center">
        <label class="middle" style="font-size:1.5em">Retailer Credit Application Status List</label>


    </div>
    <div class="module-body">

        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Retailer</th>
                    <th>Retailer Application <br /> Status</th>
                    <th>Distributor Application<br />Status / Comments</th>
                </tr>
            </thead>
            @foreach (var d in Model.CreditDataList)
            {
                <tr>
                    <td>
                        <b>@d.BusinessName</b> <br />
                        @d.Address1<br />
                        @if (!string.IsNullOrWhiteSpace(d.Address2))
                        {
                            @d.Address2 <br />
                        }

                        @($"{d.City}, {d.State}, {d.ZipCode}")  <br />
                        @d.Phone <br />
                        @d.PrincipalEmail <br><br />
                        @if (d.CreditFiles.Any())
                        {
                            @Html.ActionLink("NYS Liquor License", "DownloadFile", "Home", new { creditDataId = d.Id, fileType = "licensefile" }, null)
                            <br>
                            @Html.ActionLink("NYS Sales Tax Certificate", "DownloadFile", "Home", new { creditDataId = d.Id, fileType = "TaxCertificateFile" }, null)
                        }
                    </td>
                    <td>
                        @*@Html.ActionLink(d.Status, "ShowDocument", "CreditData", new { creditDataId = model.Id, agreementId = model.AdobeSignAgreementId })*@
                        @if (!string.IsNullOrWhiteSpace(d.AdobeSignAgreementId))
                        {
                            @Html.ActionLink(d.Status, "ShowDocument", "CreditData", new { creditDataId = d.Id, agreementId = d.AdobeSignAgreementId }, new { target = "_self" })
                        }
                        else
                        {
                            @d.Status
                        }
                        <br>
                        @d.LastUpdate
                    </td>
                    <td>
                        @d.Status <br />
                        @*@d.Comments <br />*@
                        @Html.TextArea("txtComments", d.Comments, new { @readonly = "readonly", @rows = 5, @cols = 40, @style = "height:100% ", @class = "ui-widget-content ui-corner-all" }) <br>
                        <button id="add-comment" class="btn-add-comments" data-creditdata-id="@d.Id">Update</button>

                    </td>

                </tr>
            }
        </table>

    </div>
</div>
@*<button id="add-comment">Create new user</button>*@

<div id="dialog-form" title="Select Status and add comment" data-creditdata-id="">
    @*<p class="validateTips">All form fields are required.</p>*@

    <form id="frmAddMessage" asp-controller="CreditData" asp-action="AddComment" method="post" role="form">

        @*<div class="row">*@
        <div class="col-md-12" style="padding-top: 10px;">
            @*<div class="panel-body">*@
            <div class="form-group">
                <label class="control-label">Select status</label>
                <select id="CreditDataStatusList" class="form-control" autocomplete="off">
                    <option value="">Please select...</option>
                    <option value="APPROVED">APPROVED</option>
                    <option value="DECLINED">DECLINED</option>
                </select>
                @*@Html.DropDownList("CreditDataStatusList",
                    new SelectList(new string[] { "APPROVED", "DECLINED" }),
                    "Select Status", new { @class = "form-control" })*@
                @*, new { @class = "form-control ui-widget-content ui-corner-all" }*@
            </div>
            <div class="form-group">
                <label class="control-label">Comments</label>
                @Html.TextArea("txtCommentsEdit", "", new { @rows = 5, @cols = 40, @style = "height:100%",
               @class = "form-control"})
            </div>
            <div style="text-align: right">
                <input type="submit" id="submit-comment" style="padding-right:3px">
                <button id="close-comment" style="padding-left:5px">Cancel</button>
            </div>
            @*</div>*@
        </div>
        @*</div>*@


    </form>
</div>



@section Scripts
    {

    <script>
        function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        $(function () {
            $("#dialog-form").dialog();
            $("#dialog-form").dialog("close");
        });

        function gettoken() {
            var token = document.getElementsByName("__RequestVerificationToken")[0].value
            return token;
        };

        $(".btn-add-comments").button().on("click", function () {
            var creditdataid = $(this).data("creditdata-id");
            var status = "";
            var comments = "";

            $.ajax({
                url: '@Url.Action("GetComment")',
                headers: {
                    'RequestVerificationToken': gettoken()
                    /* more headers */
                },
                type: "GET",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: { creditdataid: creditdataid },
                success: function (response) {
                    status = response.status;
                    comments = response.comments;
                    $("#CreditDataStatusList").val(status);
                    $("#txtCommentsEdit").val(comments);
                }
            });

            $("#dialog-form").data("creditdata-id", creditdataid);
            $("#dialog-form").dialog({
                //dialogClass: "no-close",
                //hide: { effect: "explode", duration: 1000 },
                //closeText: "hide",
                //closeOnEscape: true,
                resizable: true,
                //autoOpen: false,
                height: 346,
                width: 460,
                modal: true
            });
        });

        $("#close-comment").click(function (event) {
            event.preventDefault();
            $("#dialog-form").dialog("close");
        });


        $("#submit-comment").click(function (event) {
            event.preventDefault();
            var creditdataid = $("#dialog-form").data("creditdata-id");
            var creditDataStatus = $("#CreditDataStatusList").val();
            var comments = $("#txtCommentsEdit").val();

            var param = {
                creditdataid: creditdataid,
                CreditDataStatus: creditDataStatus,
                Comments: comments,
                token: getUrlParameter("token")
            }
            $.ajax({
                url: '@Url.Action("AddComment")',
                headers: {
                    'RequestVerificationToken': gettoken()
                    /* more headers */
                },
                type: "POST",
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(param),
                success: function (response) {
                    $("#dialog-form").dialog("close");
                    window.location.href = response.url;
                }
            });
        });
    </script>
}