@model CreditAppBMG.ViewModels.CreditAppModel
<form id="frmCreditApp" asp-action="GeneratePDF" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="divEmp">
    @*<div class="form-group">
            <label asp-for="DistributorName" class="control-label"></label>
            <input asp-for="DistributorName" class="form-control" />
            <span asp-validation-for="DistributorName" class="text-danger"></span>

            @Html.TextBoxFor(m => m.DistributorState, new { @id= "DistributorState", @class = "form-control" })
        </div>*@

    <!-- form content-->
    <div class="row">
        <div class="col-md-6" style="clear: both">
            <button id="btnClearForm" type="button" class="btn btn-default btn-block">Clear form</button>
        </div>
        <div class="spacer">
        </div>
        <!-- Row 1 Business Information and Principal Contact-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Business Information Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Business Information</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.BusinessName" class="control-label"></label>
                            <input asp-for="Retailer.BusinessName" class="form-control" />
                            <span asp-validation-for="Retailer.BusinessName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeName" class="control-label"></label>
                            <input asp-for="Retailer.TradeName" class="form-control" />
                            <span asp-validation-for="Retailer.TradeName" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.LicenseNumber" class="control-label"></label>
                                    <input asp-for="Retailer.LicenseNumber" class="form-control" />
                                    <span asp-validation-for="Retailer.LicenseNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.LicenseExpirationDate" class="control-label"></label>
                                    <div class="input-group date">
                                        <input asp-for="Retailer.LicenseExpirationDate" class="form-control" />
                                        @*<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>*@
                                    </div>
                                    <span asp-validation-for="Retailer.LicenseExpirationDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.EIN" class="control-label"></label>
                                    <input asp-for="Retailer.EIN" class="form-control" mask="99-9999999" />
                                    <span asp-validation-for="Retailer.EIN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.NYStateTaxId" class="control-label"></label>
                                    <input asp-for="Retailer.NYStateTaxId" class="form-control" />
                                    <span asp-validation-for="Retailer.NYStateTaxId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.DeliveryTime" class="control-label"></label>
                                    <input asp-for="Retailer.DeliveryTime" class="form-control" />
                                    <span asp-validation-for="Retailer.DeliveryTime" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.CompanyType" class="control-label"></label>
                                    @*<input asp-for="Retailer.CompanyType" class="form-control" />*@
                                    <select asp-for="Retailer.CompanyType" asp-items="Model.CompanyTypes" class="form-control"></select>
                                    <span asp-validation-for="Retailer.CompanyType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.Phone" class="control-label"></label>
                                    <input asp-for="Retailer.Phone" class="form-control" mask="(999) 999-9999" />
                                    <span asp-validation-for="Retailer.Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.Address1" class="control-label"></label>
                            <input asp-for="Retailer.Address1" class="form-control" />
                            <span asp-validation-for="Retailer.Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.Address2" class="control-label"></label>
                            <input asp-for="Retailer.Address2" class="form-control" />
                            <span asp-validation-for="Retailer.Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.City" class="control-label"></label>
                                    <input asp-for="Retailer.City" class="form-control" />
                                    <span asp-validation-for="Retailer.City" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.State" class="control-label"></label>
                                    <input asp-for="Retailer.State" class="form-control" />
                                    <span asp-validation-for="Retailer.State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.ZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.ZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 1 Business Information End-->
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Principal Contact Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Principal Contact</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.PrincipalName" class="control-label"></label>
                            <input asp-for="Retailer.PrincipalName" class="form-control" />
                            <span asp-validation-for="Retailer.PrincipalName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PrincipalTitle" class="control-label"></label>
                            <input asp-for="Retailer.PrincipalTitle" class="form-control" />
                            <span asp-validation-for="Retailer.PrincipalTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PrincipalEmail" class="control-label"></label>
                            <input asp-for="Retailer.PrincipalEmail" class="form-control" />
                            <span asp-validation-for="Retailer.PrincipalEmail" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.PrincipalPhone" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalPhone" class="form-control" mask="(999) 999-9999" />
                                    <span asp-validation-for="Retailer.PrincipalPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.PrincipalSSN" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalSSN" class="form-control" mask="999-99-9999" />
                                    <span asp-validation-for="Retailer.PrincipalSSN" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PrincipalAddress1" class="control-label"></label>
                            <input asp-for="Retailer.PrincipalAddress1" class="form-control" />
                            <span asp-validation-for="Retailer.PrincipalAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PrincipalAddress2" class="control-label"></label>
                            <input asp-for="Retailer.PrincipalAddress2" class="form-control" />
                            <span asp-validation-for="Retailer.PrincipalAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.PrincipalCity" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalCity" class="form-control" />
                                    <span asp-validation-for="Retailer.PrincipalCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.PrincipalState" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalState" class="form-control" />
                                    <span asp-validation-for="Retailer.PrincipalState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.PrincipalZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.PrincipalZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PropertyOwned" class="control-label"></label>
                            <input type="checkbox" asp-for="Retailer.PropertyOwned" class="form-control" data-toggle="collapse" data-target="#PropertyOwned" />
                        </div>
                        <div id="PropertyOwned" class="panel panel-default collapse">
                            <div class="panel-heading">
                                <h2 class="panel-title">Property Location</h2>
                            </div>
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PropertyType" class="control-label"></label>
                                    <input asp-for="Retailer.PrincipalName" class="form-control" />
                                    <span asp-validation-for="Retailer.PrincipalName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PropertyAddress1" class="control-label"></label>
                                    <input asp-for="Retailer.PropertyAddress1" class="form-control" />
                                    <span asp-validation-for="Retailer.PropertyAddress1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PropertyAddress2" class="control-label"></label>
                                    <input asp-for="Retailer.PropertyAddress2" class="form-control" />
                                    <span asp-validation-for="Retailer.PropertyAddress2" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PropertyCity" class="control-label"></label>
                                            <input asp-for="Retailer.PropertyCity" class="form-control" />
                                            <span asp-validation-for="Retailer.PropertyCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PropertyState" class="control-label"></label>
                                            <input asp-for="Retailer.PropertyState" class="form-control" />
                                            <span asp-validation-for="Retailer.PropertyState" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PropertyZipCode" class="control-label"></label>
                                            <input asp-for="Retailer.PropertyZipCode" class="form-control" />
                                            <span asp-validation-for="Retailer.PropertyZipCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.PriorBusiness" class="control-label"></label>
                            <input type="checkbox" asp-for="Retailer.PriorBusiness" class="form-control" data-toggle="collapse" data-target="#PriorBusiness" />
                        </div>
                        <div id="PriorBusiness" class="panel panel-default collapse">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Prior Business Location
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PriorBusinessAddress1" class="control-label"></label>
                                    <input asp-for="Retailer.PriorBusinessAddress1" class="form-control" />
                                    <span asp-validation-for="Retailer.PriorBusinessAddress1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PriorBusinessAddress2" class="control-label"></label>
                                    <input asp-for="Retailer.PriorBusinessAddress2" class="form-control" />
                                    <span asp-validation-for="Retailer.PriorBusinessAddress2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Retailer.PropertyAddress2" class="control-label"></label>
                                    <input asp-for="Retailer.PropertyAddress2" class="form-control" />
                                    <span asp-validation-for="Retailer.PropertyAddress2" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PriorBusinessCity" class="control-label"></label>
                                            <input asp-for="Retailer.PriorBusinessCity" class="form-control" />
                                            <span asp-validation-for="Retailer.PriorBusinessCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PriorBusinessState" class="control-label"></label>
                                            <input asp-for="Retailer.PriorBusinessState" class="form-control" />
                                            <span asp-validation-for="Retailer.PriorBusinessState" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="Retailer.PriorBusinessZipCode" class="control-label"></label>
                                            <input asp-for="Retailer.PriorBusinessZipCode" class="form-control" />
                                            <span asp-validation-for="Retailer.PriorBusinessZipCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Principal Contact End-->
            </div>
        </div>

        <!-- Row 2 Billing Contact and Bank Reference-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Billing Contact Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Billing Contact</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactName" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactName" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactEmail" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactEmail" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactPhone" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactPhone" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactAddress1" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactAddress1" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactAddress1" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactAddress1" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BillingContactAddress2" class="control-label"></label>
                            <input asp-for="Retailer.BillingContactAddress2" class="form-control" />
                            <span asp-validation-for="Retailer.BillingContactAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BillingContactCity" class="control-label"></label>
                                    <input asp-for="Retailer.BillingContactCity" class="form-control" />
                                    <span asp-validation-for="Retailer.BillingContactCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BillingContactState" class="control-label"></label>
                                    <input asp-for="Retailer.BillingContactState" class="form-control" />
                                    <span asp-validation-for="Retailer.BillingContactState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BillingContactZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.BillingContactZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.BillingContactZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 1 Billing Contact End-->
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Bank Reference Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Bank Reference</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceName" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceName" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferencePhone" class="control-label"></label>
                            <input asp-for="Retailer.BankReferencePhone" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferencePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceAccountType" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceAccountType" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceAccountType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceAccountNumber" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceAccountNumber" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceAccountNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceRoutingNumber" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceRoutingNumber" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceRoutingNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceAddress1" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceAddress1" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.BankReferenceAddress2" class="control-label"></label>
                            <input asp-for="Retailer.BankReferenceAddress2" class="form-control" />
                            <span asp-validation-for="Retailer.BankReferenceAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BankReferenceCity" class="control-label"></label>
                                    <input asp-for="Retailer.BankReferenceCity" class="form-control" />
                                    <span asp-validation-for="Retailer.BankReferenceCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BankReferenceState" class="control-label"></label>
                                    <input asp-for="Retailer.BankReferenceState" class="form-control" />
                                    <span asp-validation-for="Retailer.BankReferenceState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.BankReferenceZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.BankReferenceZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.BankReferenceZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Bank Reference End-->
            </div>
        </div>
        <!-- Row 3 Trade Reference 1 and Trade Reference 2-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Trade Reference 1 Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trade Reference 1</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference1Name" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference1Name" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference1Name" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference1Phone" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference1Phone" class="form-control" mask="(999) 999-9999" />
                                    <span asp-validation-for="Retailer.TradeReference1Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference1AccountNumber" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference1AccountNumber" class="form-control" mask="999-99-9999" />
                                    <span asp-validation-for="Retailer.TradeReference1AccountNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference1Address1" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference1Address1" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference1Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference1Address2" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference1Address2" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference1Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference1City" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference1City" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference1City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference1State" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference1State" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference1State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference1ZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference1ZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference1ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 1 Trade Reference 1 End-->

            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Trade Reference 2 Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trade Reference 2</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference2Name" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference2Name" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference2Name" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference2Phone" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference2Phone" class="form-control" mask="(999) 999-9999" />
                                    <span asp-validation-for="Retailer.TradeReference2Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference2AccountNumber" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference2AccountNumber" class="form-control" mask="999-99-9999" />
                                    <span asp-validation-for="Retailer.TradeReference2AccountNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference2Address1" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference2Address1" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference2Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Retailer.TradeReference2Address2" class="control-label"></label>
                            <input asp-for="Retailer.TradeReference2Address2" class="form-control" />
                            <span asp-validation-for="Retailer.TradeReference2Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference2City" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference2City" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference2City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference2State" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference2State" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference2State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="Retailer.TradeReference2ZipCode" class="control-label"></label>
                                    <input asp-for="Retailer.TradeReference2ZipCode" class="form-control" />
                                    <span asp-validation-for="Retailer.TradeReference2ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Trade Reference 1 End-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Files</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                                <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                            </span>
                            <span class="form-control"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Files</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-10">
                                <p>Upload one or more files using this form:</p>
                                <input type="file" name="files" multiple />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    @*@Html.HiddenFor(m => m.DistributorName, new { @id = "_mDistributorName" });*@
</form>
<script src="https://code.jquery.com/jquery-latest.js"></script>


<script type="text/javascript">
    $(function () {
        $('[mask]').each(function (e) {
            $(this).mask($(this).attr('mask'));
        });
        $('#Retailer_Phone').mask('(999) 999-9999');
        $('#Retailer_BusinessName').change(function () {
           //Content to send
              var yourText = $(this).val();
            var distributor = $("#_mDistributorName");
            var formData = $(this).serialize();
            var model = { DistributorName :'zzz', DistributorState :'ss' };
            var frmModel = $('#frmCreditApp').serialize();
            alert(model);
            //var url = '@Url.Action("UpdateAction", "Home")';
            //alert(url);
            //Post the content of your Textbox to your "YourAction" action in "YourController"

            $.ajax({
                url:'@Url.Action("UpdateAction", "Home")',
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: '{model: ' + JSON.stringify(frmModel) + '}',
                success: function (response) {
                    alert(response);
                }
            });
            @*$.post('@Url.Action("UpdateAction", "Home")', { "model": frmModel},function (data) {
                  //Do something with the results here
                  alert(data);
              });*@
        });

        $('#DistributorState').change(function () {
           //Content to send
            var formData = $(this).serialize();
            //Post the content of your Textbox to your "YourAction" action in "YourController"
            @*$.post('@Url.Action("UpdateAction", "Home")', { "model": formData},function (data) {
                  //Do something with the results here
                  alert(data);
              });*@
            //var model = { DistributorName='zzz', DistributorState='ss' };
            //alert(formData);
            $.ajax({
                type: "POST",
                data: formData,
                success: function (response) {
                }
            });
        });
    });
</script>
