@model CreditAppBMG.ViewModels.CreditAppModel
<form id="frmCreditApp" asp-action="GeneratePDF" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="divEmp">
    @*<div class="form-group">
            <label asp-for="DistributorName" class="control-label"></label>
            <input asp-for="DistributorName" class="form-control" />
            <span asp-validation-for="DistributorName" class="text-danger"></span>

            @Html.TextBoxFor(m => m.DistributorState, new { @id= "DistributorState", @class = "form-control" })
        </div>*@

    <!-- form content-->
    <div class="row">
        <div class="col-md-6" style="clear: both">
            <button id="btnClearForm" type="button" class="btn btn-default btn-block">Clear form</button>
        </div>
        <div class="spacer">
        </div>
        <!-- Row 1 Business Information and Principal Contact-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Business Information Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Business Information</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.CreditData.BusinessName" class="control-label"></label>
                            <input asp-for="CreditData.BusinessName" class="form-control" />
                            <span asp-validation-for="CreditData.BusinessName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeName" class="control-label"></label>
                            <input asp-for="CreditData.TradeName" class="form-control" />
                            <span asp-validation-for="CreditData.TradeName" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.LicenseNumber" class="control-label"></label>
                                    <input asp-for="CreditData.LicenseNumber" class="form-control" />
                                    <span asp-validation-for="CreditData.LicenseNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.LicenseExpirationDate" class="control-label"></label>
                                    <input asp-for="CreditData.LicenseExpirationDate" class="datepicker" />
                                    <span asp-validation-for="CreditData.LicenseExpirationDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.EIN" class="control-label"></label>
                                    <input asp-for="CreditData.EIN" class="form-control ein-mask" />
                                    <span asp-validation-for="CreditData.EIN" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.NYStateTaxId" class="control-label"></label>
                                    <input asp-for="CreditData.NYStateTaxId" class="form-control" />
                                    <span asp-validation-for="CreditData.NYStateTaxId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.DeliveryTime" class="control-label"></label>
                                    <select asp-for="CreditData.DeliveryTime" asp-items="Model.DeliveryTime" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.DeliveryTime" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.CompanyType" class="control-label"></label>
                                    <select asp-for="CreditData.CompanyType" asp-items="Model.CompanyTypes" class="form-control">
                                        <option value="--">Please select...</option>

                                    </select>
                                    <span asp-validation-for="CreditData.CompanyType" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.Phone" class="control-label"></label>
                                    <input asp-for="CreditData.Phone" class="form-control phone-mask" />
                                    <span asp-validation-for="CreditData.Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.Address1" class="control-label"></label>
                            <input asp-for="CreditData.Address1" class="form-control" />
                            <span asp-validation-for="CreditData.Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.Address2" class="control-label"></label>
                            <input asp-for="CreditData.Address2" class="form-control" />
                            <span asp-validation-for="CreditData.Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.City" class="control-label"></label>
                                    <input asp-for="CreditData.City" class="form-control" />
                                    <span asp-validation-for="CreditData.City" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.State" class="control-label"></label>
                                    @*<select asp-for="CreditData.State" asp-items="@(new SelectList(Model.States,"Abbreviation","State"))" class="form-control">*@
                                    <select asp-for="CreditData.State" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.ZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.ZipCode" class="form-control validate-zip" />
                                    <span asp-validation-for="CreditData.ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("states", Model.States, new { @id = "states" })
                @Html.Hidden("StatesListItems", Model.StatesListItems, new { @id = "StatesListItems" })
                <!--Panel 1 Business Information End-->
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Principal Contact Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Principal Contact</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreditData.PrincipalName" class="control-label"></label>
                            <input asp-for="CreditData.PrincipalName" class="form-control" />
                            <span asp-validation-for="CreditData.PrincipalName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.PrincipalTitle" class="control-label"></label>
                            <input asp-for="CreditData.PrincipalTitle" class="form-control" />
                            <span asp-validation-for="CreditData.PrincipalTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.PrincipalEmail" class="control-label"></label>
                            <input asp-for="CreditData.PrincipalEmail" class="form-control" />
                            <span asp-validation-for="CreditData.PrincipalEmail" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.PrincipalPhone" class="control-label"></label>
                                    <input asp-for="CreditData.PrincipalPhone" class="form-control phone-mask" />
                                    <span asp-validation-for="CreditData.PrincipalPhone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.PrincipalSSN" class="control-label"></label>
                                    <input asp-for="CreditData.PrincipalSSN" class="form-control" mask="999-99-9999" />
                                    <span asp-validation-for="CreditData.PrincipalSSN" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.PrincipalAddress1" class="control-label"></label>
                            <input asp-for="CreditData.PrincipalAddress1" class="form-control" />
                            <span asp-validation-for="CreditData.PrincipalAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.PrincipalAddress2" class="control-label"></label>
                            <input asp-for="CreditData.PrincipalAddress2" class="form-control" />
                            <span asp-validation-for="CreditData.PrincipalAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.PrincipalCity" class="control-label"></label>
                                    <input asp-for="CreditData.PrincipalCity" class="form-control" />
                                    <span asp-validation-for="CreditData.PrincipalCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.PrincipalState" class="control-label"></label>
                                    <select asp-for="CreditData.PrincipalState" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.PrincipalState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.PrincipalZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.PrincipalZipCode" class="form-control" />
                                    <span asp-validation-for="CreditData.PrincipalZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" asp-for="CreditData.PropertyOwned" class="checkbox-inline" data-toggle="collapse" data-target="#PropertyOwned" />
                            <label asp-for="CreditData.PropertyOwned" class="control-label"></label>
                        </div>
                        <div id="PropertyOwned" class="panel panel-default collapse">
                            <div class="panel-heading">
                                <h2 class="panel-title">Property Location</h2>
                            </div>
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PropertyType" class="control-label"></label>
                                    <input asp-for="CreditData.PrincipalName" class="form-control" />
                                    <span asp-validation-for="CreditData.PrincipalName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PropertyAddress1" class="control-label"></label>
                                    <input asp-for="CreditData.PropertyAddress1" class="form-control" />
                                    <span asp-validation-for="CreditData.PropertyAddress1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PropertyAddress2" class="control-label"></label>
                                    <input asp-for="CreditData.PropertyAddress2" class="form-control" />
                                    <span asp-validation-for="CreditData.PropertyAddress2" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PropertyCity" class="control-label"></label>
                                            <input asp-for="CreditData.PropertyCity" class="form-control" />
                                            <span asp-validation-for="CreditData.PropertyCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PropertyState" class="control-label"></label>
                                            <select asp-for="CreditData.PropertyState" asp-items="Model.StatesListItems" class="form-control">
                                                <option value="--">Please select...</option>
                                            </select>
                                            <span asp-validation-for="CreditData.PropertyState" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PropertyZipCode" class="control-label"></label>
                                            <input asp-for="CreditData.PropertyZipCode" class="form-control" />
                                            <span asp-validation-for="CreditData.PropertyZipCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" asp-for="CreditData.PriorBusiness" class="checkbox-inline" data-toggle="collapse" data-target="#PriorBusiness" />
                            <label asp-for="CreditData.PriorBusiness" class="control-label"></label>
                        </div>
                        <div id="PriorBusiness" class="panel panel-default collapse">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Prior Business Location
                                </h2>
                            </div>
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PriorBusinessAddress1" class="control-label"></label>
                                    <input asp-for="CreditData.PriorBusinessAddress1" class="form-control" />
                                    <span asp-validation-for="CreditData.PriorBusinessAddress1" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PriorBusinessAddress2" class="control-label"></label>
                                    <input asp-for="CreditData.PriorBusinessAddress2" class="form-control" />
                                    <span asp-validation-for="CreditData.PriorBusinessAddress2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CreditData.PropertyAddress2" class="control-label"></label>
                                    <input asp-for="CreditData.PropertyAddress2" class="form-control" />
                                    <span asp-validation-for="CreditData.PropertyAddress2" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PriorBusinessCity" class="control-label"></label>
                                            <input asp-for="CreditData.PriorBusinessCity" class="form-control" />
                                            <span asp-validation-for="CreditData.PriorBusinessCity" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PriorBusinessState" class="control-label"></label>
                                            <select asp-for="CreditData.PriorBusinessState" asp-items="Model.StatesListItems" class="form-control">
                                                <option value="--">Please select...</option>
                                            </select>
                                            <span asp-validation-for="CreditData.PriorBusinessState" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 10px;">
                                        <div class="form-group">
                                            <label asp-for="CreditData.PriorBusinessZipCode" class="control-label"></label>
                                            <input asp-for="CreditData.PriorBusinessZipCode" class="form-control" />
                                            <span asp-validation-for="CreditData.PriorBusinessZipCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Principal Contact End-->
            </div>
        </div>

        <!-- Row 2 Billing Contact and Bank Reference-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Billing Contact Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Billing Contact</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactName" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactName" class="form-control" />
                            <span asp-validation-for="CreditData.BillingContactName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactEmail" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactEmail" class="form-control" />
                            <span asp-validation-for="CreditData.BillingContactEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactPhone" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactPhone" class="form-control phone-mask" />
                            <span asp-validation-for="CreditData.BillingContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactAddress1" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactAddress1" class="form-control" />
                            <span asp-validation-for="CreditData.BillingContactAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactAddress1" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactAddress1" class="form-control" />
                            <span asp-validation-for="CreditData.BillingContactAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BillingContactAddress2" class="control-label"></label>
                            <input asp-for="CreditData.BillingContactAddress2" class="form-control" />
                            <span asp-validation-for="CreditData.BillingContactAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BillingContactCity" class="control-label"></label>
                                    <input asp-for="CreditData.BillingContactCity" class="form-control" />
                                    <span asp-validation-for="CreditData.BillingContactCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BillingContactState" class="control-label"></label>
                                    <select asp-for="CreditData.BillingContactState" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.BillingContactState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BillingContactZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.BillingContactZipCode" class="form-control" />
                                    <span asp-validation-for="CreditData.BillingContactZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 1 Billing Contact End-->
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Bank Reference Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Bank Reference</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceName" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceName" class="form-control" />
                            <span asp-validation-for="CreditData.BankReferenceName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferencePhone" class="control-label"></label>
                            <input asp-for="CreditData.BankReferencePhone" class="form-control phone-mask" />
                            <span asp-validation-for="CreditData.BankReferencePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceAccountType" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceAccountType" class="form-control" />
                            <span asp-validation-for="CreditData.BankReferenceAccountType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceAccountNumber" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceAccountNumber" class="form-control account-number-mask" />
                            <span asp-validation-for="CreditData.BankReferenceAccountNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceRoutingNumber" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceRoutingNumber" class="form-control" />
                            <span asp-validation-for="CreditData.BankReferenceRoutingNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceAddress1" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceAddress1" class="form-control" />
                            <span asp-validation-for="CreditData.BankReferenceAddress1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.BankReferenceAddress2" class="control-label"></label>
                            <input asp-for="CreditData.BankReferenceAddress2" class="form-control" />
                            <span asp-validation-for="CreditData.BankReferenceAddress2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BankReferenceCity" class="control-label"></label>
                                    <input asp-for="CreditData.BankReferenceCity" class="form-control" />
                                    <span asp-validation-for="CreditData.BankReferenceCity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BankReferenceState" class="control-label"></label>
                                    <select asp-for="CreditData.BankReferenceState" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.BankReferenceState" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.BankReferenceZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.BankReferenceZipCode" class="form-control" />
                                    <span asp-validation-for="CreditData.BankReferenceZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Bank Reference End-->
            </div>
        </div>
        <!-- Row 3 Trade Reference 1 and Trade Reference 2-->
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 1 Trade Reference 1 Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trade Reference 1</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference1Name" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference1Name" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference1Name" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference1Phone" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference1Phone" class="form-control phone-mask" />
                                    <span asp-validation-for="CreditData.TradeReference1Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference1AccountNumber" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference1AccountNumber" class="form-control account-number-mask" />
                                    <span asp-validation-for="CreditData.TradeReference1AccountNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference1Address1" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference1Address1" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference1Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference1Address2" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference1Address2" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference1Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference1City" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference1City" class="form-control" />
                                    <span asp-validation-for="CreditData.TradeReference1City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference1State" class="control-label"></label>
                                    <select asp-for="CreditData.TradeReference1State" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.TradeReference1State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference1ZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference1ZipCode" class="form-control" />
                                    <span asp-validation-for="CreditData.TradeReference1ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 1 Trade Reference 1 End-->

            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <!--Panel 2 Trade Reference 2 Start-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Trade Reference 2</h2>
                    </div>
                    <div class="panel-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference2Name" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference2Name" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference2Name" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference2Phone" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference2Phone" class="form-control phone-mask" />
                                    <span asp-validation-for="CreditData.TradeReference2Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference2AccountNumber" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference2AccountNumber" class="form-control account-number-mask" />
                                    <span asp-validation-for="CreditData.TradeReference2AccountNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference2Address1" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference2Address1" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference2Address1" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreditData.TradeReference2Address2" class="control-label"></label>
                            <input asp-for="CreditData.TradeReference2Address2" class="form-control" />
                            <span asp-validation-for="CreditData.TradeReference2Address2" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference2City" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference2City" class="form-control" />
                                    <span asp-validation-for="CreditData.TradeReference2City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference2State" class="control-label"></label>
                                    <select asp-for="CreditData.TradeReference2State" asp-items="Model.StatesListItems" class="form-control">
                                        <option value="--">Please select...</option>
                                    </select>
                                    <span asp-validation-for="CreditData.TradeReference2State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding-top: 10px;">
                                <div class="form-group">
                                    <label asp-for="CreditData.TradeReference2ZipCode" class="control-label"></label>
                                    <input asp-for="CreditData.TradeReference2ZipCode" class="form-control" />
                                    <span asp-validation-for="CreditData.TradeReference2ZipCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Panel 2 Trade Reference 1 End-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Files</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse...</span>
                                <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none" type="file">
                            </span>
                            <span class="form-control"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top: 10px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Files</h2>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Browse...</span>
                                <input id="fileUplead1" name="uploaded_file" value="Click Browse to upload a file." onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display:none;" type="file">
                            </span>
                            <span class="form-control"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" id="createPDF" formnovalidate="formnovalidate" class="btn btn-default" />
        </div>
    </div>
    @*@Html.HiddenFor(m => m.DistributorName, new { @id = "_mDistributorName" })*@
    @Html.HiddenFor(m => m.CreditData.DistributorId)
    @Html.HiddenFor(m => m.CreditData.RetailerId)
    @Html.HiddenFor(m => m.CreditData.Token)
    @Html.HiddenFor(m => m.CreditData.Id)


    @Html.HiddenFor(m => m.Distributor.DistributorId)
    @Html.HiddenFor(m => m.Distributor.DistributorName)
    @Html.HiddenFor(m => m.Distributor.DistributorAddress)
    @Html.HiddenFor(m => m.Distributor.DistributorCity)
    @Html.HiddenFor(m => m.Distributor.DistributorState)
    @Html.HiddenFor(m => m.Distributor.DistributorZip)
    @Html.HiddenFor(m => m.Distributor.DistributorPhone)
    @Html.HiddenFor(m => m.Distributor.DistributorWebSiteURL)
    
</form>
<script src="https://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">

    $(function () {

        jQuery(document).ready(function () {
            jQuery("[required]").after("<span class='required'>*</span>");
        });

        //$('#fileUplead1').val('Click Browse to upload a file.');

        $('.phone-mask').mask('?(999) 999-9999');
        $('.account-number-mask').mask('?999-99-9999');
        $('.ein-mask').mask('?99-9999999')
        $('#CreditData_BusinessName').change(function () {
           //Content to send
            var yourText = $(this).val();
            var jsonModel = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            $.ajax({
                url:'@Url.Action("UpdateAction", "Home")',
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(jsonModel),
                success: function (response) {
                    alert(response);
                }
            });
        });

        $('.validate-zip').change(function () {
            var zipCode = $(this).val();
            $.ajax({
                url:'@Url.Action("ValidateZipCode", "Home")',
                type: "POST",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(jsonModel),
                success: function (response) {
                    alert(response);
                }
            });
        });

        $('#DistributorState').change(function () {
           //Content to send
            var formData = $(this).serialize();
            //Post the content of your Textbox to your "YourAction" action in "YourController"
            @*$.post('@Url.Action("UpdateAction", "Home")', { "model": formData},function (data) {
                  //Do something with the results here
                  alert(data);
              });*@
            //var model = { DistributorName='zzz', DistributorState='ss' };
            //alert(formData);
            $.ajax({
                type: "POST",
                data: formData,
                success: function (response) {
                }
            });
        });
    });
</script>
